{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>The Neighborhood - {{title}}</title>
  {% else %}
    <title> The Neighborhood </title>
  {% endif %}
 <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFYtaXKNIntob9QgicImsbRzSWxofw5DgP2hBZkTRLMEv85HDK1g" style="border-radius:50%;">
  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Mrs+Sheppards|Sree+Krushnadevaraya" rel="stylesheet">
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %} 
    
   
      
     {%endblock%}
{%block query%}
{% endblock %}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>