{%extends 'home/base.html'%}


 {% block content %}
 {{block.super}}

 <div style="font-family: 'Cinzel', serif;background-color:#DE9E36;height: 30%;">
   <p class="text-center">{{user.username}}' profile</p>
 </div>
 <div class="container"  style="margin-top: 5%;">

<div class="col-md-6">
  <img src="{{profile.photo.url}}" alt="" height='200' width='100' id='dp'>
 </div>
 <div class="col-md-6">
   <div class="row">
    <p>First name:{{user.profile.first_name}}</p>
    <p>Last name:{{user.profile.last_name}}</p>
    <p>Phone number:0{{user.profile.phone_number}}</p>
    <p>Email:{{user.email}}</p>
<p>Bio:{{user.profile.bio}}</p>
<p>Neighborhood:{{profile.neighborhood}}</p>
<!-- <div class="row">
<p class='col-md-4'>Added:{{projects|length}} projects</p>

</div> -->



   
 
</div>

 <!-- {%for proj in projects %}

    <div class="" >
      <div class="panel">
     <div>
    <p class="panel panel-heading">{{proj.name}}</p>
    <div class="panel panel-body">
   <a href="/project/{{proj.id}}" > <img src="{{proj.screenshot.url}}" alt="" height="250" id="img" ></a>
    <p>{{proj.description}}</p>
   </div>
    <a href="/grade/{{proj.id}}" class="panel panel-footer"> <button>Grade</button> </a>
   </div>
   </div>
 </div>
 {%empty%}
 <h2>No projects yet</h2>
 
  {%endfor%} -->
</div>
 {% endblock %}